body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: large;
    
    color: rgb(3, 25, 44);
}

header {
    background-color: #3b2929;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

section {
    flex: 1;
    padding: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #868383;
}

#cart-list {
    max-height: 200px;
    overflow-y: auto;
}
.menu-price{
    display: grid;
    place-items: center; 
    height: 5vh;
}